
<div class= "page-header">
	<h1>Teste Receita Vice Governadoria</h1>
</div>
	
<h2>Cadastro de Cidadões e patrimonios.</h2>

<p id="notice"><%= notice %></p>


<%if auditor_signed_in?%>
	<ul>
		<li>Logado como Auditor</li>
		<li><%= current_auditor.email%></li>
		<li><%= link_to "Sair",  destroy_auditor_session_path, method: :delete %></li>
	</ul>

<%elsif usuario_signed_in?%>
	<ul>
		<li>Logado como Cidadão</li>
		<li><%= current_usuario.email%></li>
		<li><%= link_to "Sair",  destroy_usuario_session_path, method: :delete %></li>
	</ul>
<%else%>
	<ul>
		<li><%= link_to "Cadastrar novo Auditor",  new_auditor_registration_path %></li>
		<li><%= link_to "Cadastrar novo Cidadão",  new_usuario_registration_path %></li>
		<li><%= link_to "Logar como Auditor",  auditor_session_path %></li>
		<li><%= link_to "Logar como Cidadão",  usuario_session_path %></li>
	</ul>
<%end%>


<ul>
<%if usuario_signed_in?%>
	<li> <%= link_to "Perfil", usuario_path(@current.id)%> </li>
<%elsif auditor_signed_in? %>
	<li> <%= link_to "Usuarios", usuarios_path%> </li>
	<li> <%= link_to "Patrimonios", patrimonios_path%> </li><%end%>
</ul>
