<%= form_for(patrimonio) do |f| %>
  <% if patrimonio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(patrimonio.errors.count, "error") %> prohibited this patrimonio from being saved:</h2>

      <ul>
      <% patrimonio.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome_patrimonio %>
    <%= f.text_field :nome_patrimonio %>
  </div>

  <div class="field">
    <%= f.label :tipo %>
    <%= f.text_field :tipo %>
  </div>

  <div class="field">
    <%= f.label :valor %>
    <%= f.text_field :valor %>
  </div>

  <div class="field">
    <%= f.label :usuario_id %>
    <%= f.number_field :usuario_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
