<p id="notice"><%= notice %></p>

<h1>Patrimonios</h1>

<table class="table table table-striped sortable">
  <thead>
    <tr>
      <th>Nome patrimonio</th>
      <th>Tipo</th>
      <th>Valor</th>
      <th>Usuario</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @patrimonios.each do |patrimonio| %>
      <tr>
        <td><%= patrimonio.nome_patrimonio %></td>
        <td><%= patrimonio.tipo %></td>
        <td><%= patrimonio.valor %></td>
        <td><%= patrimonio.usuario_id %></td>
        <td><%= link_to 'Show', patrimonio %></td>
        <td><%= link_to 'Edit', edit_patrimonio_path(patrimonio) %></td>
        <td><%= link_to 'Destroy', patrimonio, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% link_to 'New Patrimonio', new_patrimonio_path %>
