
<h1>Patrimonio</h1>

<h2>
  <strong>Nome patrimonio:</strong>
  <%= @patrimonio.nome_patrimonio %>
</h2>

<p id="notice"><%= notice %></p>

<p>
  <strong>Tipo:</strong>
  <%= @patrimonio.tipo %>
</p>

<p>
  <strong>Valor:</strong>
  <%= @patrimonio.valor %>
</p>

<p>
  <strong>Usuario:</strong>
  <%= @patrimonio.usuario_id %>
</p>

<% link_to 'Edit', edit_patrimonio_path(@patrimonio) %> |
<%= link_to 'voltar', patrimonios_path %>
