<%= simple_form_for @usuario do |f| %>


  <div class="field">
    <%= f.input :nome %>
  </div>

  <div class="field">
    <%= f.input :sexo, collection: ["Homem", "Mulher"]%>
  </div>

  <div class="field">
    <%= f.input :idade %>
    </div>

  <div class="field">
    <%= f.input :endereco %>
    </div>

  <div class="field">
    <%= f.input :cidade %>
    </div>

  <div class="field_patrimonios">


    <%= link_to_add_association 'Novo Patrimonio', f, :patrimonios,
        'data-association-insertion-node' => '#patrimonios-usuario ol',
        'data-association-insertion-method' => 'append'
    %>

    <fieldset id="patrimonios-usuario">
      <ol>
        <%= f.fields_for :patrimonios do |patrimonio| %>
            <%= render partial: 'patrimonio_fields',  locals: {f: patrimonio}%>
        <%end%>
      </ol>
    </fieldset>

  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
