<p id="notice"><%= notice %></p>

<h1>Usuarios</h1>

<%=form_tag(usuarios_path, method: :get) do %>
  <%= text_field_tag 'cidade', nil, placeholder: 'Busca por cidade'%>
  <%= submit_tag 'cidade'%>
  <%= text_field_tag 'valor', nil, placeholder: 'Busca por valor'%>
  <%= submit_tag 'valor'%>
<%end%>

<table class="table table table-striped sortable">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Sexo</th>
      <th>Idade</th>
      <th>Endereco</th>
      <th>Cidade</th>
      <th>Patrimonios</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @usuarios.each do |usuario| %>
      <tr>
        <td><%= usuario.nome %></td>
        <td><%= usuario.sexo %></td>
        <td><%= usuario.idade %></td>
        <td><%= usuario.endereco %></td>
        <td><%= usuario.cidade %></td>
        <td><%= usuario.patrimonios.sum(:valor) %></td>
        <td><%= link_to 'Show', usuario %></td>
        
        <td><%= link_to 'Destroy', usuario, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Inicio", root_path %>

<br>

