
<h1>Cidadão</h1>

<h2>
  <strong>Nome:</strong>
  <%= @usuario.nome %>
</h2>

<p id="notice"><%= notice %></p>

<p>
  <strong>Sexo:</strong>
  <%= @usuario.sexo %>
</p>

<p>
  <strong>Idade:</strong>
  <%= @usuario.idade %>
</p>

<p>
  <strong>Endereco:</strong>
  <%= @usuario.endereco %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @usuario.cidade %>
</p>


  <strong>Patrimonios:</strong>

  <table class="table table table-striped sortable">
  <thead>
    <tr>
      <th>Nome patrimonio</th>
      <th>Tipo</th>
      <th>Valor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @usuario.patrimonios.each do |patrimonio| %>
      <tr>
        <td><%= patrimonio.nome_patrimonio %></td>
        <td><%= patrimonio.tipo %></td>
        <td><%= patrimonio.valor %></td>
       </tr>
    <% end %>
  </tbody>
</table>

<%if usuario_signed_in? %>
  <%= link_to 'editar', edit_usuario_path(@usuario) %> 
  <%= link_to 'voltar', root_path %> 
<%elsif auditor_signed_in? %> 
  <%= link_to 'voltar', usuarios_path %> 
<%end%>
