<p id="notice"><%= notice %></p>

<h1>Usuarios por cidade</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Sexo</th>
      <th>Idade</th>
      <th>Endereco</th>
      <th>Cidade</th>
      <th>Patrimonios</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @usuarios.each do |usuario| %>
      <tr>
        <td><%= usuario.nome %></td>
        <td><%= usuario.sexo %></td>
        <td><%= usuario.idade %></td>
        <td><%= usuario.endereco %></td>
        <td><%= usuario.cidade %></td>
        <td><%= usuario.patrimonios %></td>
        <td><%= link_to 'Show', usuario %></td>
        <td><%= link_to 'Edit', edit_usuario_path(usuario) %></td>
        <td><%= link_to 'Destroy', usuario, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>