<li class="control-group nested-fields">
	
	<div class="controls">
		<%= f.input nome_patrimonio:%>
		<%= f.input tipo:%>
		<%= f.input valor:%>
	</div>
	
	<%link_to_remove_association "remove", f%>

</li>